# This workflow will install CESM, create visualCaseGen conda env, and run all CI tests.

name: visualCaseGen CI

on:
  push:
    branches: [ "main", "ci" ]
  pull_request:
    branches: [ "main", "ci" ]

jobs:
  ci_tests:
    name: visualCaseGen CI tests
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -el {0}
    steps:

      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils

      # clone CESM
      - uses: actions/checkout@v4
        with:
          repository: alperaltuntas/CESM
          ref: cesm3_0_beta03_gui
          #submodules: recursive

      # Run git-fleximod
      - name: checkout CESM
        env:
          GIT_CLONE_PROTECTION_ACTIVE: false
        run: |
          ./bin/git-fleximod update

      # Checkout the correct visualCaseGen branch
      - name: Checkout initial event (Pull Request)
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo "Handling pull request"
          cd $GITHUB_WORKSPACE/CESM/visualCaseGen/
          git fetch origin pull/${{ github.event.pull_request.number }}/head:pr-${{ github.event.pull_request.number }}
          git checkout pr-${{ github.event.pull_request.number }}

      - name: Checkout initial event (Push)
        if: ${{ github.event_name == 'push' }}
        run: |
          echo "Handling push"
          cd $GITHUB_WORKSPACE/CESM/components/mom/
          git checkout ${{ github.sha }}

      # set up conda
      - uses: conda-incubator/setup-miniconda@v3

      # visualCaseGen conda env
      - name: Create visualCaseGen conda env
        run: |
          cd $GITHUB_WORKSPACE/CESM/visualCaseGen/
          conda env create --file environment.yml
          conda activate visualCaseGen
    
      # Run all tests
      - name: Run tests
        env:
          CIME_MODEL: "cesm"
          CIME_DRIVER: "nuopc"
          CIME_TEST_PLATFORM: ubuntu-latest
        run: |
          export SRC_PATH="${GITHUB_WORKSPACE}"
          mkdir -p /home/runner/cesm/scratch
          cd visualCaseGen/
          conda activate visualCaseGen
          pytest tests

